*{
    margin: 0%;
    padding: 0%;
    }
h1{
    text-align: center;
    }

header{
    background-color: white;
    color: black;
    font-size: 3em;
    font-family: 'Bonheur Royale', cursive;
    width: 100%;
    }
/*-------ESTE ES UN ID---------/*
/*cambie solo el botoncito contactame*/
#contact01{
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    animation-name: changeColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    }
/* cambio de color*/
@keyframes changeColor{
    from{
        background-color: orange;   
         }
    to  {
        background-color: red;
        }
    }
/*cambie los botoncitos de contacto y acerca de mi*/

.botoncito{
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    }

/*-------grilla de css--------*/

.grid-container{
    display: grid;
    grid-template-areas: 'grid-item grid-item grid-item grid-item';
    gap: 50px;
    padding: 40px;
    width: 80%;
    max-width: 1500px;
    margin: 0% auto;
    }
.grid-item img{
    
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
    
    margin: 0% auto;
    border-radius: 50%;
    border: solid 2px black;
   
    min-height: 150px;
    overflow: hidden;
    background-size: cover;
    background-position: center center; 
    }
.galeria_titulo{
    position: absolute;
    /*bottom: 0;*/ 
    color: black;    
    }


.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
    }


.myDiv {
    border: 5px outset lightgreen;
    background-color: orange;
    text-align: center;
    width: 90%;
    margin: 0% auto;
    }
    
footer{
        font-size: 2em;  
        width: 100%;
        float: left;
        margin-top: 20px;
        padding: 20px;
        background: white;   
     }

    @media screen and (max-width: 768px)
{
    *{
        width: 100%;
    }
    header{
        font-size: 2em;     
        padding: 5px;
    }
    .myDiv
    { 
        width: 60%;
    }
    .grid-container {
        width: 70%;
        gap: 5px;
        padding: 40px;
        margin: 0% auto;
    }
    
    .grid-item img{

        width: 65px;
        height: 40px;
        border-radius: 70%;    
        min-height: 60px;
    }

    .galeria_titulo{
        display: none;
    }


}
